<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.pulse.mapper.ItemPedidoEstoqueMapper">

    <sql id="colunasPedido">
        i.id,
        i.quantidade,
        i.produto_id,
        i.pedido_estoque_id
    </sql>

    <sql id="colunasPedidoEstoque">
        p.filial_id,
        p.tipo
    </sql>

    <sql id="colunasProduto">
        pr.nome,
        pr.quantidade
    </sql>

    <sql id="colunasFilial">
        f.nome as fnome,
        f.cnpj as fcnpj
    </sql>

    <resultMap id="resultItem" type="br.com.pulse.model.ItemPedidoEstoque">
        <result column="id" property="id" />
        <result column="quantidade" property="quantidade"/>
        <association property="produto"  javaType="br.com.pulse.model.Produto">
            <id column="produto_id" property="id" />
            <result column="nome" property="nome"/>
            <result column="quantidade" property="quantidade"/>
        </association>
        <association property="pedidoEstoque" javaType="br.com.pulse.model.PedidoEstoque">
            <id column="pedido_estoque_id" property="id" />
            <result column="tipo" property="tipo"/>
            <association property="filial" javaType="br.com.pulse.model.Filial">
                <id column="filial_id" property="id"/>
                <result column="fnome" property="nome" />
                <result column="fcnpj" property="cnpj" />
            </association>
        </association>
    </resultMap>

    <select id="buscarPorProduto" resultMap="resultItem">
        select
            <include refid="colunasPedido"/>,
            <include refid="colunasPedidoEstoque"/>,
            <include refid="colunasProduto"/>,
            <include refid="colunasFilial"/>
        from itempedidoestoque i
        inner join pedidoestoque p on i.pedido_estoque_id  = p.id
        inner join produto pr on i.produto_id = pr.id
        inner join filial f on p.filial_id = f.id
        where i.produto_id = #{produtoId};
    </select>

    <select id="buscar" resultType="br.com.pulse.model.ItemPedidoEstoque">
        select * from itempedidoestoque where id = #{itemPedidoEstoqueId};
    </select>

    <insert id="insert">
        insert into itempedidoestoque
        (quantidade, produto_id, pedido_estoque_id)
        values (
        #{item.quantidade}, #{item.produto.id}, #{item.pedidoEstoque.id}
        );
    </insert>
</mapper>