<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.pulse.mapper.PedidoEstoqueMapper">

    <resultMap id="resultPedido" type="br.com.pulse.model.PedidoEstoque">
        <id column="id" property="id" />
        <result column="tipo" property="tipo"/>
        <association property="filial" column="filial_id" resultMap="br.com.pulse.mapper.FilialMapper.resultFilial">
            <id column="fi"/>
        </association>
    </resultMap>

    <select id="buscar" resultType="br.com.pulse.model.PedidoEstoque">
        select * from pedidoestoque where id = #{pedidoEstoqueId};
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="pedidoEstoque.id" parameterType="br.com.pulse.model.PedidoEstoque">
        insert into pedidoestoque
        (tipo, filial_id)
        values (
         #{pedidoEstoque.tipo}, #{pedidoEstoque.filial.id}
        );
    </insert>
</mapper>