<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.pulse.mapper.ProdutoMapper">

    <sql id="colunasProduto">
        p.id,
        p.nome,
        p.quantidade
    </sql>

    <resultMap id="resultProduto" type="br.com.pulse.model.Produto">
        <id column="id" property="id" />
        <result column="nome" property="nome"/>
        <result column="quantidade" property="quantidade"/>
    </resultMap>

    <select id="buscar" resultType="br.com.pulse.model.Produto">
        select
            <include refid="colunasProduto"></include>
        where id = #{produtoId};
    </select>
    
    <select id="buscarPorQuantidade" resultType="br.com.pulse.model.Produto">
        select
            <include refid="colunasProduto"></include>
        from produto p where quantidade >= 100;
    </select>

    <select id="buscarPorFilial" resultType="br.com.pulse.model.Produto">
        select
            <include refid="colunasProduto"></include>
        from produto p inner join estoque e on e.produto_id = p.id where e.filial_id = #{filialId};
    </select>
</mapper>